.topnav {
    position: relative;
    width: 99%;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: pink;
    color: white;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: black;
    padding: 2%;
}

/* Create two columns that float next to eachother */
.columnL {
    float: left;
    width: 66%;
}

.columnR {
    float: left;
    width: 30%;
    padding-right: 4%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .columnL, .coloumnR, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}